.main {
    padding: 0 24px;
    max-width: 85rem;
    margin: auto;
}
.footerWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

@media (max-width: 600px) {
  .footerWrapper {
    justify-content: center;
  }
}